@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}
body{
    display: grid;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(1, 57, 108, 0.55), rgba(1, 57, 108, 0.55)),url(/backgroundsignup.jpg);
    background-size: cover;
}
.container{
    width: 1100px;
    background: rgba(1, 57, 108, 0.9);
    mix-blend-mode: hard-light;
    color: #fff;
    border-radius: 20px;
    padding: 90px 125px;
    margin: 150px 0;
    margin-left: 40px;
    display: grid;
    grid-template-columns: 50% 5% 60%;
    grid-gap: 50px;
}
.ctn1 h1{
    padding: 20px 0;
}
.ctn1 p{
    padding-bottom: 30px;
}
.container .input-box{
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: #d1caca;
    opacity: 0.8;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    font-size: 16px;
    color: #1d1b88;
    padding: 28px 45px 28px 20px;
}
.input-box input::placeholder{
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}
.input-box img{
    position: absolute;
    right: 680px;
    transform: translateY(90%);
    color: #fefcfc;
    cursor: pointer;
}
.ctn1 .btn{
    width: 100%;
    height: 55px;
    color: #010A13;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 30px 0;
}
.ctnp{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin-right: 150px;
}
.ctn2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.ctn2 .btn-2{
    width: 350px;
    background: #d1caca;
    opacity: 0.8;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    margin: 15px 0;
    text-align: center;
    padding: 7px 0;
    color: #fff;
    cursor: pointer;
}
.btn-2 img{
    height: 30px;
    padding-right: 10px;
}